# following the advice from https://github.com/direnv/direnv/wiki/.envrc-Boilerplate
# load developer's own local .env
dotenv_if_exists || direnv status # https://direnv.net/man/direnv-stdlib.1.html

# foundry to use solc.nix provided solc
export FOUNDRY_OFFLINE=true
export FOUNDRY_SOLC_VERSION=`which solc-0.8.26`

# use flake shell
# Note:
# 1. use SF_SHELL_FLAVOR to select a different superfluid development shell from the flake.
# 2. use FLAKE_OVERRIDE_NIXPKGS to use your local nixpkgs to avoid bloating nix store.
use flake .#${SF_SHELL_FLAVOR} ${FLAKE_OVERRIDE_NIXPKGS:+--override-input nixpkgs "${FLAKE_OVERRIDE_NIXPKGS}"}

# initialize submodules
if git submodule status | grep -E '^-'; then
    npm run git-submodule:init
fi
