[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "packages/ethereum-contracts/lib/openzeppelin-contracts"]
	path = packages/ethereum-contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts.git
	branch = release-v5.4
